<strong>
  Olá, {{ owner }}
</strong>
<p>
  Houve uma nova inscrição em um dos seus MeetUps, confira os detalhes abaixo:
</p>
<p>
  <strong>Node do usuário: </strong> {{ user }} <br />
  <strong>Data/hora: </strong> {{ date }} <br />
  <strong>MeetUp: </strong> {{ meetup }} <br />
  <br />
  <small>
    Confira todas as incrições no nosso app ou site.
  </small>
</p>
